/*
    1. header --- 39;
    2. section --- 107;
    3. footer --- 1252.
*/

@import 'fonts.css';

:root {
  --green: #68bf3b;
  --grey: #a6a6a6;
  --MonBlack: 'Montserrat-Black';
  --MonBold: 'Montserrat-Bold';
  --MonRegular: 'Montserrat-Regular';
  --MonThin: 'Montserrat-Thin';
}

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #282828;
}
.wrapper{
  max-width: 1370px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.container{
  max-width: 1120px;
}


/*SCROLL_BAR*/

::-webkit-scrollbar{
  width: 3px!important;
}
::-webkit-scrollbar-thumb{
  background-color: white!important;
  border-radius: 50px!important;
}
::-webkit-scrollbar-track{
  background-color: black;
}
html{
  scroll-behavior: smooth;
}
/*-- /SCROLL_BAR --*/

/*-- NAVBAR --*/
.navbar{
  background-color: transparent!important;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
#nav .fixed{
  background-color: #000000f5!important;
  padding: 0;
}

.navbar-brand{
  font-size: 1.7rem;
  color: yellow!important;
  padding-left: 6rem;
}

.navbar-nav{
  margin: 0 0 0 45rem;

}

.navbar-nav > li{
  font-size: 1.2rem;
  font-weight: 500;
  margin: 15px;
  
}

.nav-link{
  color: white;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.nav-link:hover{
  color: yellow;
}
/*-- /NAVBAR -- */

/*-- First_Section -- */
.first_section{
  background-color: #007d2f;
}
.section_col{
  padding-top: 60px;
  padding-bottom: 100px;
  color: white;
  text-align: center;
}
.section_col i{
  font-size: 48px;
  margin-bottom: 10px;
}
.section_col h4{
  margin-bottom: 3px;
  font-family: var(--MonRegular);
  font-size: 18px;
}
.section_col p{
  text-transform: uppercase;
  font-size: 12px;
}
/*-- /First_Section -- */

/*-- ARTICLE --*/
article .row{
  margin-right: 0;
  margin-left: 0;
}
.article_half_first img{
  width: 100%;
  height: 100%;
}
.article_half_first{
  padding-left: 0;
  padding-right: 0;
}
.article_half{
  padding-left: 0;
  padding-right: 0;
  background-color: #f5f5f5;
  padding-left: 110px;
}
.article_half h3{
  margin-top: 140px;
  font-size: 30px;
  font-family: var(--MonRegular);
  font-weight: 700;
  margin-bottom: 40px;
}
.article_half p{
  font-size: 16px;
  color: grey;
  font-weight: 400;
  margin-bottom: 40px;
}
/*-- /ARTICLE --*/

/*-- Second SECTION --*/
.second_section{
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.second_section h3{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: var(--MonBold);
}
.second_section p{
  font-size: 16px;
  color: grey;
  text-align: center;
  padding-bottom: 40px;
}
.second_section button{
 margin-left: 45%;
 padding: 20px 40px;
 color: white;
 background-color: #007d2f;
 border: 0px solid;
 font-size: 12px;
}
.second_section button:hover{
  box-shadow: 0 7px 14px grey;
}
.second_section button:focus{
  outline: none;
}
/*-- /Second SECTION --*/






















/*-- HEADER --*/
header{
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
}
nav{
  background-color: white!important;
}
.bg-light {
   background-color: white !important; 
}
.navbar-nav{
  margin-left: 800px;
}
.navbar-brand .logo{
  width: 65px;
  height: 65px;
  margin: 17px 0 17px 0;
}
.nav-link{
  font-size: 12px;
  font-family: var(--MonRegular);
  text-transform: uppercase;
  font-weight: bold;
}
/*-- /HEADER --*/

/*-- MAIN --*/
main{
  background-color: #323232;
  padding-top: 110px;
  padding-bottom: 110px;
}
main h1{
  font-size: 62px;
  font-family: var(--MonRegular);
  text-align: center;
  color: #fff;
  margin-bottom: 18px;
}
main p{
  text-align: center;
  color: #fff;
  font-family: var(--MonRegular);
  font-size: 23px;
}
/*-- /MAIN --*/

/*-- FOOTER --*/
footer{
  background-color: black;
  padding-top: 100px;
  padding-bottom: 100px;
}
.first_footer_col{
  color: white;
}
.first_footer_col h3{
  color: white;
  font-weight: bold;
  font-family: var(--MonThin);
  font-size: 18px;
  padding-bottom: 28px;
  margin-bottom: 0;
}
.first_footer_col p{
  margin-top: 0;
  font-size: 15px;
  color: var(--grey);
  font-family: var(--MonRegular);
}
.second_footer_col{
  color: var(--grey);
}
.second_footer_col p{
  font-size: 15px;
  margin-bottom: 8px;
  font-family: var(--MonRegular);
}
.third_footer_col{
  display: flex;
}
.third_footer_col ul{
  margin-left: 40px;
  list-style: none;
  color: var(--grey);
}
/*-- /FOOTER --*/